*{
    margin: 0;
    padding: 0;
}

h1{
    background-color: rgb(14, 1, 73);
    color: whitesmoke;
    height: 5rem;
    text-align: center;
    line-height: 5rem;
}
.image-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 5rem;
}
.image{
    height: 165px;
    width: 165px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.image:hover{
    cursor: pointer;
    opacity: 0.8;
    background-color: #081b31;
}
img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
}
.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-top: 3rem;
    gap: 2rem;
}
#user-score,#comp-score{
    font-size: 3rem;
}
.msg-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    padding: 1rem;
}
#msg{
    font-size: 2rem;
    display: inline;
    background-color: #081b31;
    color: white;
    padding: 0.8rem;
    border-radius: 1rem;
}